
body
{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
.pic
{

  border-radius: 50%;
  height: auto;
  width: 15%;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 60px auto 0 auto;
  font-family: 'Sacramento',cursive;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-weight: 100;
  font-family: 'Montserrat',sans-serif;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
div{
  display: block;
}
.top-container{
  background-color:#E4F9F5;
  position: relative;
  padding-top:100px;
}
.bottom-container{

}
p{
  line-height: 2;
  font-weight: 200;
}
p
{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btn{
  background: #11cdd4;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
a{
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align:left;
}
.middle-container{
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 100px;
  margin-left: 0px;

}
.code-img{
  border-radius: 50%;
  margin-right:  30px;
  width: 45%;
  float: left;
}
.code-imag2{
  border-radius: 50%;
  margin-left:  30px;
  width: 45%;
  float: right;
}

.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
